.main-place{

    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #999;
    text-align: center;
}

.col{
    display: block;
    float: left;
    width: 25%;
    padding: 33px 6px;
    min-height: 90px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px sandybrown solid;
    cursor: pointer;
}

.col:active{
    background-color: #ffcd6a;
}